$green: #6cb419;
$bg: #fcfcfc;
$border: #f2f2f2;
$holder: #b5b5b5;
$search: #fffdfe;
$list: #4b4c4c;
$line: #c5c6c2;


html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption{
        margin: 0;
        padding: 0;
}

body{
	background-color: $bg;
}

#space{
	/*background: url(../images/gradientb.png);*/
	height: 43px;
	background: #303030; /* Old browsers */
background: -moz-linear-gradient(top, #303030 0%, #3e3e3e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#3e3e3e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #303030 0%,#3e3e3e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #303030 0%,#3e3e3e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #303030 0%,#3e3e3e 100%); /* IE10+ */
background: linear-gradient(to bottom, #303030 0%,#3e3e3e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#3e3e3e',GradientType=0 ); /* IE6-9 */
}

#welcome{
	color: $bg;
	font-family: garamond;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 8px;
}

#home_logo{
	width: 100%;
	margin-top: 36px;
}

#home{
	text-align: center;
}

#celiac{
	color: $green;
	margin-bottom: 18px;
	font-family: garamond;
	/*font-weight: bold;*/
}

#user_search{
	margin-bottom: 25px;
	background-color: $bg;
	border: 1px solid $border;
	height: 30px;
	width: 250px;
	/*background: $bg url(../images/enter.png) no-repeat 220px;*/
}
:-moz-placeholder { /* Firefox 18- */
   color: $holder;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $holder;
}

/*#enter{
	background-image: url(../images/enter.png);
}*/

#webpage{
	color: $green;
	text-decoration: underline;
}

#login{
	background-color: $green;
	color: $bg;
	border: none;
	height: 31px;
	font-family: garamond;
	font-size: 22px;
	width: 119px;
	border-radius: 3px;
}

#signup{
	background-color: $bg;
	color: $green;
	border: 1px solid $green;
	height: 31px;
	font-family: garamond;
	font-size: 22px;
	width: 119px;
	border-radius: 3px;

}

#menu{
	float: right;
	margin: -25px 10px 0 0;
}
#menutwo{
	float: right;
	margin: -29px 10px 0 0;
}
#menuthree{
	float: right;
	margin: -45px 10px 0 0;
}

nav{
    display: none;
    background-image: url(../images/gradientb.png);
    margin: 33px -40px 0 0;

}

input[type=checkbox]:checked ~ nav {
    display: block;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    /*float: right;*/
  	/*width: 200px;*/
  	width: 100%;

}

input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

label {
    display: block;
    /*background: #eb6e1f;*/
    padding: 5px;
}

ul{
	list-style-type: none;
	font-family: arial;
	margin-left: 10px;
	text-align: center;

	li{
		padding-bottom: 10px;
		padding-top: 9px;
		text-align: right;
		color: $bg;
		font-size: 15px;
		margin-right: 20px;
	}

	a{
		text-decoration: none;
		color: $bg;
	}
}

.icons{
	float: left;
	height: 25px;
	width: 25px;
	margin-right: 20px;
	margin-top: -8px;
}

/*#logout{
	img{
		width: 36px;
		margin-top: -10px;
		margin-left: 14px;
	}
}

#history{
	img{
		width: 50px;
		margin-top: -21px;
		margin-left: 10px;
	}
}

#books{
	img{
		width: 30px;
		margin-top: -10px;
		margin-left: 23px;
	}
}*/

.nav_line{
	height: 2px;
	background-color: rgba(75,76,76,0.7);
	margin-top: 10px;
	/*margin-left: -20px;*/
}


/*------------------------------------Login/SignUp Page------------------------*/
fieldset{
	border: none;
}

.member{
	width: 250px;
	height: 35px;
	margin-bottom: 15px;
	background-color: #f4f4f4;
	border: none;
}

.member_btn{
	width: 250px;
	height: 35px;
	background-color: $green;
	font-family: garamond;
	border: none;
	color: $bg;
	font-size: 22px;
}

#back{
	background-color: $bg;
	width: 1px;
	height: 43px;
	margin-top: -38px;
	margin-left: 30px;
}

#error{
	color: #f00;
	font-size: 12px;
	margin: 0 80px 0 -50px;
}

#email_error{
	color: #f00;
	font-size: 12px;
	margin: 0 80px 0 -70px;
}

#pwd_error{
	color: #f00;
	font-size: 12px;
	margin-right: 35px;
}

#login_error{
	color: #f00;
	font-size: 12px;
	margin: -10px 185px 10px 0;
}

/*--------------------------------------Results Page--------------------------------*/
.logo{
	color: $bg;
	font-family: garamond;
	/*font-weight: bold;*/
	font-size: 20px;
	padding-top: 9px;
	padding-left: 11px;
}

.result_search{
	background-color: $search;
	border-color: #dddbdc;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	width: 100%;
	height: 34px;
}

#counter{
	font-style: italic;
	font-family: helvetica;
	color: #969696;
	font-size: 12px;
	margin-left: 10px;
	margin-top: 6px;
}

.line{
	height: 1px;
	background-color: $line;
	/*width: 288px;*/
	margin: 11px 9px 21px 9px;
	border-radius: 2px;
}

#list p#food_title{
	color: $green;
	font-weight: bold;
	font-family: garamond;
	font-size: 20px;
	margin-left: 15px;
}

#list{
	margin-top: 30px;
	height: 460px;
	overflow-y: auto;

	p{
		margin-left: 25px;
		margin-bottom: 15px;
		color: $list;
		font-family: helvetica;
		font-size: 12px;
	}
}

.brand{
	padding-top: 0;
}
.brand_nonmember{
	margin-top: -29px;
	margin-left: 20px;
}
.brand_nonmemberresults{
	/*margin-top: -29px;*/
	margin-left: 20px;
}
/*---------------------------- Product Page ------------------------------------*/
.api{
	float: right;
}

h2{
	color: $green;
	font-family: helvetica;
	text-align: center;
	margin-top: 37px;
}

#gluten{
	color: $green;
	font-family: helvetica;
	margin-bottom: 23px;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
}

#underline{
	height: 2px;
	background-color: $line;
	border-radius: 2px;
	margin: 9px 0 23px 13px;
	width: 350px;
}

#statement{
	font-family: arial;
	padding-left: 8px;
	padding-right: 5px;
	font-size: 15px;
	margin-bottom: 15px;
	margin-top: 5px;
}

#gluten_free{
  margin-top: 35px;
  text-align: center;
  float: left;
  width: 50%;
  height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fcfcfc;
	padding: 11px 30px;
	background: -moz-linear-gradient(
		top,
		#303030 0%,
		#3e3e3e);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#303030),
		to(#3e3e3e));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 0px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 5px rgba(62,62,62,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 5px rgba(62,62,62,0.6);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 5px rgba(62,62,62,0.6);
	text-shadow:
		0px -1px 3px rgba(255,255,255,0),
		0px 1px 0px rgba(255,255,255,0);

}
#not_gluten{
  /*background-image: url(../images/gradientb.png);*/
  text-align: center;
  float: right;
  width: 50%;
  height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fcfcfc;
	padding: 11px 30px;
	background: -moz-linear-gradient(
		top,
		#303030 0%,
		#3e3e3e);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#303030),
		to(#3e3e3e));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 0px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 5px rgba(62,62,62,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 5px rgba(62,62,62,0.6);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 5px rgba(62,62,62,0.6);
	text-shadow:
		0px -1px 3px rgba(255,255,255,0),
		0px 1px 0px rgba(255,255,255,0);

}

#buttons{
	/*background-image: url(../images/gradientb.png);*/
}
/*---------------------------- Bookmarks Page ------------------------------------*/
#bookmarklist{
	margin-top: 30px;

	p{
		margin-left: 15px;
		margin-bottom: 15px;
		color: $list;
		font-family: helvetica;
	}
}

#bookmarkglutenfree{
	color: $green;
	font-family: helvetica;
	margin-bottom: 23px;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
}

#bookmarkgluten{
	color: $green;
	font-family: helvetica;
	margin-bottom: 23px;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
}

#glutenfreestatement{
	font-family: arial;
	padding-left: 8px;
	padding-right: 5px;
	font-size: 15px;
	margin-bottom: 15px;
	margin-top: 5px;
}

#glutenstatement{
	font-family: arial;
	padding-left: 8px;
	padding-right: 5px;
	font-size: 15px;
	margin-bottom: 15px;
	margin-top: 5px;
}

.title{
	color: $green;
	text-align: center;
	margin-top: 37px;
	letter-spacing: 1.5px;
	font-family: garamond;
}

#gg{
	margin-top: 30px;
	padding-bottom: 15px;
}

#glutenfreebtn{
	margin-left: 70px;
	font-family: garamond;
	font-weight: bold;
	color: $green;
	text-decoration: underline;
}
#glutenbtn{
	float: right;
	margin-right: 70px;
	margin-top: -20px;
	font-family: garamond;
	font-weight: bold;
	text-decoration: underline;
	color: $list;
}

#trash{
	float: right;
	margin-top: -45px;
	margin-right: 20px;
}
/*---------------------------- Search History Page ------------------------------------*/
#shlist{
	margin-top: 30px;

	p{
		margin-left: 15px;
		margin-bottom: 15px;
		color: $list;
		font-family: helvetica;
	}
}

#historygluten{
	color: $green;
	font-family: helvetica;
	margin-bottom: 23px;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
}

#historystatement{
	font-family: arial;
	padding-left: 8px;
	padding-right: 5px;
	font-size: 15px;
	margin-bottom: 15px;
	margin-top: 5px;
}

@media screen and (max-width: 327px){
	#bookmarklist{
		p{
			font-size: 14px;
		}
	}

	#trash{
		margin-right: 10px;
	}

	#glutenfreebtn{
		margin-left: 40px;
	}

	#glutenbtn{
		margin-right: 40px;
	}
}