html, body, div, form, fieldset, legend, label, h1, h2, h3, h4, h5, h6, p, ul, dl, dt, dd, figure, figcaption {
  margin: 0;
  padding: 0; }

body {
  background-color: #fcfcfc; }

#space {
  background-image: url(../images/gradientb.png);
  height: 43px; }

#welcome {
  color: #fcfcfc;
  font-family: garamond;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 8px; }

#home_logo {
  width: 100%;
  margin-top: 36px; }

#home {
  text-align: center; }

#celiac {
  color: #6cb419;
  margin-bottom: 18px;
  font-family: garamond;
  /*font-weight: bold;*/ }

#user_search {
  margin-bottom: 25px;
  background-color: #fcfcfc;
  border: 1px solid #f2f2f2;
  height: 30px;
  width: 250px;
  /*background: $bg url(../images/enter.png) no-repeat 220px;*/ }

:-moz-placeholder {
  /* Firefox 18- */
  color: #b5b5b5; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #b5b5b5; }

/*#enter{
	background-image: url(../images/enter.png);
}*/
#webpage {
  color: #6cb419;
  text-decoration: underline; }

#login {
  background-color: #6cb419;
  color: #fcfcfc;
  border: none;
  height: 31px;
  font-family: garamond;
  font-size: 22px;
  width: 119px;
  border-radius: 3px; }

#signup {
  background-color: #fcfcfc;
  color: #6cb419;
  border: 1px solid #6cb419;
  height: 31px;
  font-family: garamond;
  font-size: 22px;
  width: 119px;
  border-radius: 3px; }

#menu {
  float: right;
  margin: -25px 10px 0 0; }

#menutwo {
  float: right;
  margin: -29px 10px 0 0; }

#menuthree {
  float: right;
  margin: -45px 10px 0 0; }

nav {
  display: none;
  background-color: #F4F4F4;
  margin: 33px -40px 0 0; }

input[type=checkbox]:checked ~ nav {
  display: block;
  position: relative;
  z-index: 1;
  margin-top: -10px;
  float: right;
  width: 200px; }

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px; }

label {
  display: block;
  /*background: #eb6e1f;*/
  padding: 5px; }

ul {
  list-style-type: none;
  font-family: arial;
  /*margin-left: 10px;
  text-align: center;*/ }
  ul li {
    padding-bottom: 3px;
    padding-top: 3px; }
  ul a {
    text-decoration: none;
    color: #4b4c4c; }

/*------------------------------------Login/SignUp Page------------------------*/
fieldset {
  border: none; }

.member {
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
  background-color: #f4f4f4;
  border: none; }

.member_btn {
  width: 250px;
  height: 35px;
  background-color: #6cb419;
  font-family: garamond;
  border: none;
  color: #fcfcfc;
  font-size: 22px; }

#back {
  background-color: #fcfcfc;
  width: 1px;
  height: 43px;
  margin-top: -38px;
  margin-left: 30px; }

#error {
  color: #f00;
  font-size: 12px;
  margin: 0 80px 0 -50px; }

#email_error {
  color: #f00;
  font-size: 12px;
  margin: 0 80px 0 -70px; }

#pwd_error {
  color: #f00;
  font-size: 12px;
  margin-right: 35px; }

#login_error {
  color: #f00;
  font-size: 12px;
  margin: -10px 185px 10px 0; }

/*--------------------------------------Results Page--------------------------------*/
.logo {
  color: #fcfcfc;
  font-family: garamond;
  /*font-weight: bold;*/
  font-size: 20px;
  padding-top: 9px;
  padding-left: 11px; }

.result_search {
  background-color: #fffdfe;
  border-color: #dddbdc;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  width: 100%;
  height: 34px; }

#counter {
  font-style: italic;
  font-family: helvetica;
  color: #969696;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 6px; }

.line {
  height: 2px;
  background-color: #c5c6c2;
  /*width: 288px;*/
  margin: 11px 9px 21px 9px;
  border-radius: 2px; }

#list {
  margin-top: 30px; }
  #list p {
    margin-left: 15px;
    margin-bottom: 15px;
    color: #4b4c4c;
    font-family: helvetica; }

.brand {
  padding-top: 0; }

/*---------------------------- Product Page ------------------------------------*/
.api {
  float: right; }

h2 {
  color: #6cb419;
  font-family: helvetica;
  text-align: center;
  margin-top: 37px; }

#gluten {
  color: #6cb419;
  font-family: helvetica;
  margin-bottom: 23px;
  font-weight: bold;
  text-align: center;
  font-size: 15px; }

#underline {
  height: 2px;
  background-color: #c5c6c2;
  border-radius: 2px;
  margin: 9px 0 23px 55px;
  width: 350px; }

#statement {
  font-family: arial;
  padding-left: 8px;
  padding-right: 5px;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 5px; }

#gluten_free {
  margin-top: 35px;
  text-align: center;
  float: left; }

#not_gluten {
  /*background-image: url(../images/gradientb.png);*/
  text-align: center;
  float: right; }

/*---------------------------- Bookmarks Page ------------------------------------*/
#bookmarklist {
  margin-top: 30px; }
  #bookmarklist p {
    margin-left: 15px;
    margin-bottom: 15px;
    color: #4b4c4c;
    font-family: helvetica; }

#bookmarkglutenfree {
  color: #6cb419;
  font-family: helvetica;
  margin-bottom: 23px;
  font-weight: bold;
  text-align: center;
  font-size: 15px; }

#glutenfreestatement {
  font-family: arial;
  padding-left: 8px;
  padding-right: 5px;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 5px; }
