<div>
	<script type="text/template" id="landing">

		<header>
			<div id="space">
	        </div>
	    </header>

	    <div id="home">
		    	<img id="home_logo" src="images/logo.png">
		    	<h2 id="celiac">Celiac Tracker</h2>
		    	<!-- <img src="images/enter.png"> -->
		    	<input type="text" placeholder="Search for Product" id="user_search" class="loggedout">
		    	<!--<input type="submit" id="enter" value="Submit">-->
		    	<p><a href="http://celiac.org/" id="webpage">Learn more about Celiac Disease</a></p>

		    	<div id="buttons" style="margin-top:39px;">
			    	<button id="login">Login</button>
			    	<button id="signup">Sign Up</button>
		    	</div> <!--buttons-->
	    	</div> <!--home-->

    </script>

    <script type="text/template" id="results">

    	<header>
			<div id="space">
				<div class="logo">
					<p class="brand_nonmember">Celiac Tracker</p>
				</div>
	        </div>
    	</header>

    	<input type="text" placeholder="Search for Product" class="result_search loggedout">
    	<div id="counter"></div>

    	<div id="list">
    		<!--<div id="line"></div>-->
    	</div><!-- List -->

    	<img class="api" src="images/api.png">

    </script>


    <script type="text/template" id="member_results">

    	<header>
			<div id="space">
				<div class="logo">
					<p class="brand_nonmember">Celiac Tracker</p>
				</div>
	        </div>
    	</header>

    	<input type="text" placeholder="Search for Product" class="result_search">
    	<div id="counter"></div>

    	<div id="list">
    		<!--<div id="line"></div>-->
    	</div><!-- List -->

    	<img class="api" src="images/api.png">

    </script>

    <script type="text/template" id="product">

    	<header>
			<div id="space">
				<div class="logo">
					<img src="images/arrow.png" id="resultsapi">
					<p class="brand_nonmember">Celiac Tracker</p>
				</div><!-- Logo -->
	        </div>
    	</header>

    	<input type="text" placeholder="Search for Product" class="result_search loggedout">
    	<h2></h2>
    	<div id="underline"></div>
    	<p id="gluten">This product does not contain Gluten</p>
    	<p style="font-weight:bold; padding-left:6px; font-family:helvetica;">Ingredients:</p>
    	<p id="statement"></p>

    	<img class="api" src="images/api.png">

	</script><!-- Product Page -->

	<script type="text/template" id="signup">

		<header>
			<div id="space">
				<div class="arrow">
	        		<img src="images/arrow.png" style="margin-top:7px;">
	        	</div>
	        	<div id="back">
	        	</div>
	        </div>
    	</header>

    	<form id="signupform" name="signupform" method="post">
	    	<div id="home">
		    	<h2 id="celiac" style="margin-top:80px;">Celiac Tracker</h2>
		    	<form method="post">
		    	<fieldset>
		    		<div id="error" class="s_error"></div>
		    		<input type="text" placeholder="Username" class="member" name="user" id="user">
		    	</fieldset>
		    	<fieldset>
		    		<div id="email_error" class="s_error"></div>
		    		<input type="text" placeholder="Email" class="member" name="email" id="email">
		    	</fieldset>
		    	<fieldset>
		    		<div id="pwd_error" class="s_error"></div>
		    		<input type="text" placeholder="Password" class="member" name="pwd" id="pass">
		    	</fieldset>
		    	<button class="member_btn" id="sign_up">Sign Up</button>
		    	</form>
	    	</div><!--home-->
	    </form>


	</script><!-- Sign Up Page -->

	<script type="text/template" id="login">

		<header>
			<div id="space">
				<div class="arrow">
	        		<img src="images/arrow.png" style="margin-top:7px;">
	        	</div>
	        	<div id="back">
	        	</div>
	        </div>
    	</header>

    	<div id="home">
	    	<h2 id="celiac" style="margin-top:80px;">Celiac Tracker</h2>
	    	<fieldset>
	    		<input type="text" placeholder="Username" class="member" id="login_user">
	    	</fieldset>
	    	<fieldset>
	    		<input type="text" placeholder="Password" class="member" id="login_pass">
	    		<div id="login_error"></div>
	    	</fieldset>
	    	<button class="member_btn" id="login_btn">Login</button>
    	</div><!--home-->

	</script>

	<script type="text/template" id="loggedIn">

		<header>
			<div id="space">
			<!--<img src="images/menu.png">-->
	        </div>
	    </header>

	    <div id="home">

		    	<img id="home_logo" src="images/logo.png">
		    	<h2 id="celiac">Celiac Tracker</h2>
		    	<!-- <img src="images/enter.png"> -->
		    	<input type="text" placeholder="Search for Products" id="user_search">
		    	<!--<input type="submit" id="enter" value="Submit">-->
		    	<p><a href="http://celiac.org/" id="webpage">Learn more about Celiac Disease</a></p>
	    	</div> <!--home-->

    </script>

    <script type="text/template" id="member_product">

    	<header>
			<div id="space">
				<div class="logo">
					<img src="images/arrow.png" id="resultsmemberapi">
					<p class="brand">Celiac Tracker</p>
				</div><!-- Logo -->
				<input type="checkbox" id="clicker">\
				<label for="clicker"><img src="images/menu.png" id="menuthree"></label>
				<nav>
					<ul>
						<li>Bookmarks</li>
						<li>Search History</li>
						<li id="logout_link">Logout</li>
					</ul>
			</nav>
	        </div>
    	</header>

    	<input type="text" placeholder="Search for Product" class="result_search">
    	<h2></h2>
    	<div id="underline"></div>
    	<p id="gluten">This product does not contain Gluten</p>
    	<p style="font-weight:bold; padding-left:6px; font-family:helvetica;">Ingredients:</p>
    	<p id="statement"></p>

    	<img class="api" src="images/api.png">
    	<div id="buttons">
    	<!--<img src="images/notgluten_btn.png" id="gluten_free">-->
    	<!--<img src="images/gluten_btn.png" id="not_gluten">-->
    	<button id="gluten_free">Bookmark As Gluten Free</button>
    	<button id="not_gluten">Bookmark As Not Gluten Free</button>
    	</div>

	</script><!-- Product Page -->

	<script type="text/template" id="gluten_list">

    	<header>
			<div id="space">
				<div class="logo">
					<p class="brand">Celiac Tracker</p>
				</div>
	        </div>
    	</header>
    	<h2 class="title">Bookmarks</h2>
    	<div id="gg">
    		<p id="glutenfreebtn">Gluten Free</p>
    		<a id="glutenbtn">Not Gluten Free</a>
    	</div>
    	<div id="bookmarklist">
    		<!--<div id="line"></div>-->
    	</div><!-- List -->

    	<img class="api" src="images/api.png">

    	<!--<input type="submit" id="glutenbtn" value="Not Gluten Free">-->

    </script><!--Gluten Bookmarks-->

    <script type="text/template" id="bookmarkproduct">

    	<header>
			<div id="space">
				<div class="logo">
					<p class="brand">Celiac Tracker</p>
				</div><!-- Logo -->
	        </div>
    	</header>

    	<input type="text" placeholder="Search for Product" class="result_search">
    	<h2></h2>
    	<div id="underline"></div>
    	<p id="bookmarkglutenfree">This product does not contain Gluten</p>
    	<p style="font-weight:bold; padding-left:6px; font-family:helvetica;">Ingredients:</p>
    	<p id="glutenfreestatement"></p>

    	<img class="api" src="images/api.png">

	</script><!-- Gluten Free Product Page -->

	<script type="text/template" id="glutenbookmarkproduct">

    	<header>
			<div id="space">
				<div class="logo">
					<p class="brand">Celiac Tracker</p>
				</div><!-- Logo -->
	        </div>
    	</header>

    	<input type="text" placeholder="Search for Product" class="result_search">
    	<h2></h2>
    	<div id="underline"></div>
    	<p id="bookmarkgluten">This product does not contain Gluten</p>
    	<p style="font-weight:bold; padding-left:6px; font-family:helvetica;">Ingredients:</p>
    	<p id="glutenstatement"></p>

    	<img class="api" src="images/api.png">

	</script><!-- Gluten Product Page -->

		<script type="text/template" id="sh_list">

    	<header>
			<div id="space">
				<div class="logo">
					<p class="brand">Celiac Tracker</p>
				</div>
	        </div>
    	</header>
    	<h2 class="title">Search History</h2>
    	<div id="shlist">
    		<!--<div id="line"></div>-->
    	</div><!-- List -->

    	<img class="api" src="images/api.png">

    </script>

    	<script type="text/template" id="historyproduct">

    	<header>
			<div id="space">
				<div class="logo">
					<p class="brand">Celiac Tracker</p>
				</div><!-- Logo -->
	        </div>
    	</header>

    	<input type="text" placeholder="Search for Product" class="result_search">
    	<h2></h2>
    	<div id="underline"></div>
    	<p id="historygluten"></p>
    	<p style="font-weight:bold; padding-left:6px; font-family:helvetica;">Ingredients:</p>
    	<p id="historystatement"></p>

    	<img class="api" src="images/api.png">

	</script><!-- Gluten Product Page -->
