<div>
	<script type="text/template" id="landing">

		<header>
			<div id="space">
	        </div>
	    </header>

	    <div id="home">
		    	<img id="home_logo" src="images/logo.png">
		    	<h2 id="celiac">Celiac Tracker</h2>
		    	<!-- <img src="images/enter.png"> -->
		    	<input type="text" placeholder="Search for Product" id="user_search">
		    	<input type="submit" id="enter" value="Submit">
		    	<p><a href="http://celiac.org/">Learn more about Celiac Disease</a></p>

		    	<div id="buttons" style="margin-top:39px;">
			    	<button id="login">Login</button>
			    	<button id="signup">Sign Up</button>
		    	</div> <!--buttons-->
	    	</div> <!--home-->

    </script>

    <script type="text/template" id="results">

    	<header>
			<div id="space">
				<div class="logo">
					<p>Celiac Tracker</p>
				</div>
	        </div>
    	</header>

    	<input type="text" placeholder="Search for Product" class="result_search">
    	<div id="counter"></div>

    	<div id="list">
    		<!--<div id="line"></div>-->
    	</div><!-- List -->

    </script>