<div>
	<script type="text/template" id="landing">

		<header>
			<div id="space">
	        </div>
	    </header>

	    <div id="home">
		    	<img id="home_logo" src="images/logo.png">
		    	<h2 id="celiac">Celiac Tracker</h2>
		    	<!-- <img src="images/enter.png"> -->
		    	<input type="text" placeholder="Search for Product" id="user_search">
		    	<input type="submit" id="enter" value="Submit">
		    	<p><a href="http://celiac.org/" id="webpage">Learn more about Celiac Disease</a></p>

		    	<div id="buttons" style="margin-top:39px;">
			    	<button id="login">Login</button>
			    	<button id="signup">Sign Up</button>
		    	</div> <!--buttons-->
	    	</div> <!--home-->

    </script>

    <script type="text/template" id="results">

    	<header>
			<div id="space">
				<div class="logo">
					<p class="brand">Celiac Tracker</p>
				</div>
	        </div>
    	</header>

    	<input type="text" placeholder="Search for Product" class="result_search">
    	<div id="counter"></div>

    	<div id="list">
    		<!--<div id="line"></div>-->
    	</div><!-- List -->

    	<img class="api" src="images/api.png">

    </script>

    <script type="text/template" id="product">

    	<header>
			<div id="space">
				<div class="logo">
					<p class="brand">Celiac Tracker</p>
				</div><!-- Logo -->
	        </div>
    	</header>

    	<input type="text" placeholder="Search for Product" class="result_search">
    	<h2></h2>
    	<div id="underline"></div>
    	<p id="gluten">This product does not contain Gluten</p>
    	<p style="font-weight:bold; padding-left:6px; font-family:helvetica;">Ingredients:</p>
    	<p id="statement"></p>

    	<img class="api" src="images/api.png">

	</script><!-- Product Page -->

	<script type="text/template" id="signup">

		<header>
			<div id="space">
				<div id="arrow">
	        		<img src="images/arrow.png" style="margin-top:7px;">
	        	</div>
	        	<div id="back">
	        	</div>
	        </div>
    	</header>

    	<div id="home">
	    	<h2 id="celiac" style="margin-top:80px;">Celiac Tracker</h2>
	    	<form method="post">
	    	<fieldset>
	    		<div id="error"></div>
	    		<input type="text" placeholder="Username" class="member" name="user" id="user">
	    	</fieldset>
	    	<fieldset>
	    		<div id="email_error"></div>
	    		<input type="text" placeholder="Email" class="member" name="email" id="email">
	    	</fieldset>
	    	<fieldset>
	    		<div id="pwd_error"></div>
	    		<input type="text" placeholder="Password" class="member" name="pwd" id="pass">
	    	</fieldset>
	    	<button class="member_btn" id="sign_up">Sign Up</button>
	    	</form>
    	</div><!--home-->


	</script><!-- Sign Up Page -->

	<script type="text/template" id="login">

		<header>
			<div id="space">
				<div id="arrow">
	        		<img src="images/arrow.png" style="margin-top:7px;">
	        	</div>
	        	<div id="back">
	        	</div>
	        </div>
    	</header>

    	<div id="home">
	    	<h2 id="celiac" style="margin-top:80px;">Celiac Tracker</h2>
	    	<fieldset>
	    		<input type="text" placeholder="Username" class="member" id="login_user">
	    	</fieldset>
	    	<fieldset>
	    		<input type="text" placeholder="Password" class="member" id="login_pass">
	    		<div id="login_error"></div>
	    	</fieldset>
	    	<button class="member_btn" id="login_btn">Login</button>
    	</div><!--home-->

	</script>

	<script type="text/template" id="loggedIn">

		<header>
			<div id="space">
			<!--<img src="images/menu.png">-->
	        </div>
	    </header>

	    <div id="home">
	    <input type="submit" id="glutenfreelist" value="Gluten Free">
		    	<img id="home_logo" src="images/logo.png">
		    	<h2 id="celiac">Celiac Tracker</h2>
		    	<!-- <img src="images/enter.png"> -->
		    	<input type="text" placeholder="Search for Products" id="user_search">
		    	<input type="submit" id="enter" value="Submit">
		    	<p><a href="http://celiac.org/" id="webpage">Learn more about Celiac Disease</a></p>
	    	</div> <!--home-->

    </script>

    <script type="text/template" id="member_product">

    	<header>
			<div id="space">
				<div class="logo">
					<p class="brand">Celiac Tracker</p>
				</div><!-- Logo -->
				<input type="checkbox" id="clicker">\
				<label for="clicker"><img src="images/menu.png" id="menuthree"></label>
				<nav>
					<ul>
						<li>Bookmarks</li>
						<li>Search History</li>
						<li id="logout_link">Logout</li>
					</ul>
			</nav>
	        </div>
    	</header>

    	<input type="text" placeholder="Search for Product" class="result_search">
    	<h2></h2>
    	<div id="underline"></div>
    	<p id="gluten">This product does not contain Gluten</p>
    	<p style="font-weight:bold; padding-left:6px; font-family:helvetica;">Ingredients:</p>
    	<p id="statement"></p>

    	<img class="api" src="images/api.png">
    	<div id="buttons">
    	<img src="images/notgluten_btn.png" id="gluten_free">
    	<img src="images/gluten_btn.png" id="not_gluten">
    	</div>

	</script><!-- Product Page -->

	  <script type="text/template" id="gluten_list">

    	<header>
			<div id="space">
				<div class="logo">
					<p class="brand">Celiac Tracker</p>
				</div>
	        </div>
    	</header>

    	<div id="bookmarklist">
    		<!--<div id="line"></div>-->
    	</div><!-- List -->

    	<img class="api" src="images/api.png">

    </script>
